* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #333;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Figtree", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0 2rem;
}

header {
  padding: 0rem 0;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo img {
  width: 100px;
  height: auto;
  margin-right: 0.5rem;
}

.logo span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #f07e23;
  margin-bottom: 10px;
}
.logo-gradient {
  background: linear-gradient(270deg, #ce1710 0%, #de7e0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  /* margin-top: 70px; */
}

.small_h{
    display: none;
}

.content-left {
  flex: 1;
  max-width: 600px;
  padding-left: 30px;
  z-index: 10;
  margin-top: 90px;
}

.coming-soon {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #2f2f2f;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #555;
  margin-right: 1rem;
}

h1 {
  font-size: 68px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 2.5rem;
  color: #333;
  white-space: nowrap
}

.input-group {
  display: flex;
  margin-bottom: 0.5rem;
  position: relative;
  height: 60px;
}

.input-group-pl::placeholder {
  font-family: Figtree;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2f2f2f;
}

input[type="email"] {
  flex: 1;
  padding: 1rem 1.5rem;
  border: 1px solid #ababab;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.notify-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: linear-gradient(180deg, #ff7300 0%, #c5594e 100%);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Figtree", sans-serif;
  transition: transform 0.2s ease-in-out;
}

.notify-btn:hover {
  transform: scale(0.95);
}

.error-message {
  color: #e74c3c;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  margin-left: 1rem;
  min-height: 20px;
}

.disclaimer {
  font-size: 24px;
  font-weight: 400;
  color: #615e5e;
  margin-top: 0.5rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 9rem;
  column-gap: 40px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  color: #f07e23;
  text-decoration: none;
  transition: all 0.3s;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.social-img {
  width: 60px;
  height: 60px;
}
.content-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #234ff0;
  padding: 20px;
}

.main-illustration {
  max-width: 108%;
  height: auto;
  top: -574px;
}

.content_rights {
  background-image: url("assets/images/image1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 61vw;
  height: 107vh;
  position: absolute;
  right: -34px;
  top: -48px;
}
::-webkit-scrollbar {
  display: none;
}

/* Responsive Design */
@media (min-width: 900px) and (max-width: 1200px) {
  .content_rights {
    width: 73vw;
    height: 100vh;
    right: -65px;
    top: -48px;
  }
}

@media (max-width: 900px) {
  .content_rights {
    display: none;
  }

  .content-left {
    max-width: 95% !important;
  }

  .big_h{
    display: none;
  }

  .small_h{
    display: block;
}

}

@media (min-width: 992px) and (max-width: 1110px) {
  .main-illustration {
    right: -62px;
    top: -358px;
    max-width: 178%;
    height: auto;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 2.8rem;
  }

  .main-illustration {
    right: -30px;
    top: -474px;
    max-width: 170%;
  }

  .content-left {
    max-width: 442px;
}
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .content-left {
    order: 2;
    text-align: center;
    max-width: 100%;
  }

  .content-right {
    order: 1;
    margin-bottom: 2rem;
  }

  .coming-soon {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }

  h1 {
    font-size: 2.2rem;
  }

  .main-illustration {
    max-width: 80%;
  }

  .container {
    padding-left: 0;
  }

  .content-left {
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .input-group {
    flex-direction: column;
  }

  input[type="email"] {
    margin-bottom: 1rem;
  }

  .notify-btn {
    position: static;
    width: 100%;
    margin-top: 0.5rem;
  }

  .main-illustration {
    max-width: 100%;
  }

  #success-message {
    margin-top: 100px;
  }

  .content-left {
    padding-left: 0;
  }

  .disclaimer {
    margin-top: 60px;
  }

  body {
    overflow: auto;
  }

  .social-icons {
    margin-top: 4rem;
  }
}
