* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #FFFFFF 0%, #FEDA9C 100%);
  color: #333;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.illustration-container {
  margin-bottom: 2rem;
  max-width: 620px;
  margin-right: 30px;

}

.main-illustration {
  width: 100%;
  height: auto;
}

h1 {
  font-family: Figtree, sans-serif;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 2.5rem;
  color: #2F2F2F;
}

#notify-form{
  width: 55%;

}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;
  height: 72px;
  border-radius: 50px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.input-group-pl::placeholder {
  font-family: Figtree;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2f2f2f;
}

input[type="email"] {
  flex: 1;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 1rem;
  outline: none;
  width: 100%;
  padding-top: 23px;
}

.notify-btn {
  background: linear-gradient(180deg, #FF7300 0%, #E05F30 100%);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Figtree", sans-serif;
  white-space: nowrap;
  min-width: 150px;
  height: 56px;
  margin-right: 8px;
}

.notify-btn:hover {
  transform: scale(0.98);
}

.error-message {
  color: #e74c3c;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  min-height: 20px;
}

#success-message {
  color: green;
  margin-top: 1rem;
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  display: none;
}



@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  
  .illustration-container {
    max-width: 300px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .input-group {
    flex-direction: column;
    height: auto;
    background: transparent;
    box-shadow: none;
  }

  input[type="email"] {
    margin-bottom: 1rem;
    border-radius: 50px;
    border: 1px solid #ddd;
  }

  .notify-btn {
    width: 100%;
  }
}